<?php
/**
 * NETopes Main entry point file
 *
 * All requests begins here (except ajax, uploads, downloads, crons, api and newsletter).
 *
 * @package    NETopes\Core
 * @author     George Benjamin-Schonberger
 * @copyright  Copyright (c) 2013 - 2019 AdeoTEK Software SRL
 * @license    LICENSE.md
 * @version    3.1.4.7
 * @filesource
 */
use NETopes\Core\App\AppHelpers;
use NETopes\Core\App\UserSession;

define('_VALID_NAPP_REQ',TRUE);
define('_NAPP_AJAX',TRUE);
require_once('bootstrap.php');
NApp::Start();
if(array_key_exists('do',$_GET) && strtolower($_GET['do'])=='logout') {
    UserSession::Logout();
    $rns=get_array_value($_GET,'rns',NApp::$currentNamespace,'is_notempty_string');
    if($rns!=NApp::$currentNamespace) {
        header('Location:'.NApp::GetAppBaseUrl(NULL,$rns));
    } else {
        header('Location:'.NApp::Url()->GetUrl(NULL,['do','uhash']));
    }//if($rns!=NApp::$currentNamespace)
    exit();
}//if(array_key_exists('do',$_GET) && strtolower($_GET['do'])=='logout')
NApp::LoadAppSettings();
if(array_key_exists('uhash',$_GET)) {
    NApp::NamespaceSessionCommit();
    header('Location:'.NApp::Url()->GetUrl(NULL,['uhash']));
    exit();
}//if(array_key_exists('uhash',$_GET))
header('Content-Language: '.NApp::GetLanguageCode(),TRUE);
switch(UserSession::$loginStatus) {
    case TRUE:
        require_once(NApp::$appPublicPath.AppHelpers::GetSectionPath().NApp::$loggedInStartPage);
        break;
    case FALSE:
    default:
        require_once(NApp::$appPublicPath.AppHelpers::GetSectionPath().NApp::$startPage);
        break;
}//END switch
NApp::NamespaceSessionCommit();