<?php
	$app_web_link = (isset($_SERVER["HTTPS"]) ? 'https' : 'http').'://'.strtolower((array_key_exists('HTTP_HOST',$_SERVER) && $_SERVER['HTTP_HOST']) ? $_SERVER['HTTP_HOST'] : 'localhost').'/'.trim(dirname($_SERVER['SCRIPT_NAME']),'/');
?>
<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>NETopes</title>
		<meta charset="UTF-8">
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<meta http-equiv="content-type" content="text/html,charset=UTF-8">
		<meta name="rating" content="general">
		<meta name="author" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
		<style>
			html{ height: 100%; }
			body {
				font-family: 'Arial', sans-serif;
				font-size: 14px;
				overflow-x:hidden;
				-webkit-font-smoothing: antialiased;
				height: 100%;
				padding: 10% 0 0 0;
			}
			.container {
				padding: 50px 100px;
				text-align: center;
			}
			.container img {
				margin-bottom: 50px;
			}
			h1 {
				font-size: 22px;
				font-weight: bold;
				color: #1f81ab;
				margin-bottom: 30px;
			}
			.sub-title {
				font-size: 16px;
				color: #666;
			}
		</style>
	</head>
	<body>
<!--[if lt IE 9]>
        <p class="chromeframe">You are using an outdated browser.<br/><a href="https://browsehappy.com/">Upgrade your browser today</a> or <a href="https://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
		<div class="container">
			<img src="<?php echo $app_web_link; ?>/repository/logo.jpg">
			<h1>Website in maintenance!</h1>
			<div class="sub-title">We apologise for any inconvenience.<br>We will be back soon.</div>
		</div>
	</body>
</html>