<?php
/**
 * Doctrine CLI config file
 *
 * @package    NETopes\Core\ORM\Doctrine
 * @author     George Benjamin-Schonberger
 * @copyright  Copyright (c) 2013 - 2019 AdeoTEK Software SRL
 * @license    LICENSE.md
 * @version    3.1.8.13
 * @filesource
 */
define('_VALID_NAPP_REQ',TRUE);
if(!defined('_NAPP_ROOT_PATH')) {
    define('_NAPP_APPLICATION_PATH',DIRECTORY_SEPARATOR.'application');
    define('_NAPP_CONFIG_PATH',DIRECTORY_SEPARATOR.'Configs');
    define('_NAPP_PUBLIC_ROOT_PATH',DIRECTORY_SEPARATOR.'public_html');
    define('_NAPP_PUBLIC_PATH','');
    define('_NAPP_ROOT_PATH',__DIR__);
}//if(!defined('_NAPP_ROOT_PATH'))
require_once(_NAPP_ROOT_PATH._NAPP_APPLICATION_PATH._NAPP_CONFIG_PATH.'/Domains.inc');
require_once(_NAPP_ROOT_PATH._NAPP_APPLICATION_PATH._NAPP_CONFIG_PATH.'/Connections.inc');
if(!isset($MAIN_DB_CONNECTION)) { die('Invalid database connection!'); }
require_once(_NAPP_ROOT_PATH._NAPP_APPLICATION_PATH._NAPP_CONFIG_PATH.'/CustomConfigStructure.php');
require_once(_NAPP_ROOT_PATH._NAPP_APPLICATION_PATH._NAPP_CONFIG_PATH.'/Configuration.php');
require_once(_NAPP_ROOT_PATH._NAPP_APPLICATION_PATH.'/vendor/autoload.php');
require_once(NETopes\Core\AppPath::GetBootFile());
require_once(_NAPP_ROOT_PATH._NAPP_APPLICATION_PATH.'/Classes/NApp.php');
NApp::Start(FALSE,[],FALSE,NULL,TRUE);
// database configuration parameters
$platform = NULL;
$em = \NETopes\Core\Data\DataProvider::GetEntityManager($MAIN_DB_CONNECTION,$platform);
echo 'NETopes cli-config for Doctrine executed...'."\n";
return \Doctrine\ORM\Tools\Console\ConsoleRunner::createHelperSet($em);