<?php
/**
 * Class App file
 *
 * Application main object.
 *
 * @package    NETopes\App
 * @author     George Benjamin-Schonberger
 * @copyright  Copyright (c) 2013 - 2019 AdeoTEK Software SRL
 * @license    LICENSE.md
 * @version    2.4.1.0
 * @filesource
 */
/**
  * Class App
  *
  * Application main object
  *
  * @package  NETopes\Base
  * @access   public
  */
class NApp extends \NETopes\Core\App\App {}