<?php
/**
 * Class Translate file
 *
 * Application resources translations provider.
 *
 * @package    NETopes\App
 * @author     George Benjamin-Schonberger
 * @copyright  Copyright (c) 2013 - 2019 AdeoTEK Software SRL
 * @license    LICENSE.md
 * @version    2.4.1.0
 * @filesource
 */
/**
  * Class Translate
  *
  * Application resources translations provider
  *
  * @package  NETopes\Base
  * @access   public
  */
class Translate extends \NETopes\Core\App\Translation {}